$font-dir: '../fonts/webfonts' !default;

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: normal;
  font-weight: 400;
  src: local('JetBrains Mono NL Regular'),
  local('JetBrainsMonoNL-Regular'),
  url('#{$font-dir}/JetBrainsMonoNL-Regular.woff2') format('woff2');
  font-display: swap;
}